body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/Content/Image/Home/Banner/thank.jpg');
    background-size: cover;
    background-position: center;
}

.thank-you-container {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.back-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .back-button:hover {
        background-color: #45a049;
    }

.back-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333;
}
